[build]
builder = "NIXPACKS"

[deploy]
healthcheckPath = "/api/health"
healthcheckTimeout = 300
restartPolicyType = "ON_FAILURE"

[build.nixpacks]
buildCmd = "npm run build || true"
startCmd = "npm start"
